{% extends "partials/_window.twig" %}

{% block content %}
<div class="window-content-wrapper" tabindex="0" style='--posts: {{posts_number}}'>

    {% for post in posts %}
    <a href="{{post.link}}" data-title="{{post.title}}"
       style="--brand-color: {{post.brand_color}}; --coming-soon-text: '{{post.coming_soon_text | default("coming soon")}}'"
       {% if post.coming_soon %}
       class="work-preview-wrapper coming-soon" tabindex="-1"
       {% else %}
       class="work-preview-wrapper"
       {% endif %}
       data-swup-transition="next-project">

        <div class="work-preview-text">
            {# <img class="work-preview-img" src="{{post.thumbnail}}" alt=""> #}
            <h3>{{post.title}}</h3>
            <ul class="work-services">
                {% for item in post.get_field('services_provided') %}
                <li>{{ item.service }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="work-preview-arrow"> </div>
    </a>
    {% endfor %}

</div>

{% endblock content %}