{% extends "partials/_window.twig" %}

{% block content %}
<div class="window-content-wrapper" tabindex="0">

    <div class="work-preview-grid">
        {% for post in posts %}
        <a href="{{post.link}}" data-title="{{post.title}}"
           style="--brand-color: {{post.brand_color}}; --coming-soon-text: '{{post.coming_soon_text | default("coming soon")}}'"
           class="work-preview-wrapper">
            <div class="work-preview-text">
                <h3>{{post.title}}</h3>
            </div>
            <div class="work-preview-image-wrapper">
                <img class="work-preview-image" src="{{post.thumbnail.src}}" alt="Image for {{post.title}}">
                <div class="work-preview-overlay">
                    <span>⟶</span>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

{% endblock content %}